* {
	font-family: Helvetica, Arial, sans-serif;
	color: black;
	text-align: left;
	line-height:120%}
a:link {
  text-decoration: none;}
nav{
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 150px;
	padding-left:20px}
ul{
	list-style-type: none;
	text-decoration: none;}
body {
	margin: 10 auto;
	margin-left: 350px;
	margin-top: 30px;
	font-size: 100%;
	background-color: #fff}
h1{
	font-size: 160%;}
h2{
	font-size: 100%;}
.indented{
    text-indent: 40px;}
#content {
	overflow: auto;
	height: 100%;}
.column1, .column2, .column3 {
	float: left;
	margin: 10px;}
.grid-container {
        display: grid;
		grid-template-columns: auto auto;
        gap: 30px;}
.homepage-section{
	display: grid;
	place-items: center;
	overflow: auto}
.caption{
	font-family: monospace;
	color: #aaaaaa;}
footer {
	font-size: small;
	padding: 5px;
	padding-left:150px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}